

<% if @birthday == "Happy Birthday" %> 

    <h1> <%= @birthday %> <%=@name%></h1>

<% end %> 


<% if @birthday.include?("day(s) until your birthday!") %> 
    
    <h1> <%=@name%>, <%= @birthday %> </h1>

<% end %>